.header {
  margin-bottom: var(--space-n);
}

.topline {
  margin-bottom: var(--space-n);
  padding: var(--space-xs);
  background-color: #f4e6cf;
  color: #8a5604;
}

.subheader {
  padding: 0 var(--space-xs);
}

.period {
  margin-top: var(--space-n);
}

.periodButton {
  color: #fab62f;
  border-color: #fab62f;
}

@media (max-width: 768px) {
  .topline {
    position: fixed;
    top: 0;
    width: 100%;
    padding: var(--space-xxs);
    font-size: 1rem;
    text-align: center;
    transition: font-size 0.2s;
    z-index: 1;

    &.scrolledOut {
      font-size: 0.5rem;
      padding: 1px;
    }
  }

  .subheader {
    margin-top: var(--space-4xl);
  }
}
